/* Card.css */
.cardpayment {
  background-color: #10386c;
  color: whitesmoke;
  padding: 2rem;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 10px 10px 10px rgba(5, 41, 85, 0.3);
  transition: transform 0.2s;
  align-items: center;
}

.cardpayment:hover {
  transform: scale(1.05);
}
