/*Progress cards*/
.progress-cards, .articles {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.progress-card {
    flex: 1;
    background: #ccc;
    padding: 20px;
    border-radius: 20px;
    color: white;
}

.progress-card.midnightBlue { background: linear-gradient(to right, #0285c782, #7dd4fcb1); }
.progress-card.deepSkyBlue { background: linear-gradient(to right, #0759859a, #0285c782); }
/* .progress-card.oceanBlue { background-color: #0C4A6E; } */

.progress-bar {
    background: rgba(255, 255, 255, 0.3);
    height: 8px;
    border-radius: 10px;
    margin: 10px 0;
}

.progress {
    height: 8px;
    background: white;
    border-radius: 10px;
}

.percentage {
    text-align: right;
    font-size: 14px;
}
/**/