.main-content {
  flex: 1;
  padding-left: 100px;
  padding-top: 10px;
  height: 100vh;             /* Toma toda la altura disponible */
  overflow-y: auto;          /* Permite hacer scroll interno */
  display: flex;
  flex-direction: column;
}

/*Banner*/

.banner {
  background: #CBD5E1;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2px; /* Espacio debajo del banner */
  margin-right: 35px;
  margin-left: 13px;
}

/* Estilos para el formulario */
.card-custom {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.card-custom form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-custom input,
.card-custom select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.card-custom button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.card-custom button:hover {
  background-color: #0056b3;
}
.card-custom input,
.card-custom select {
  padding: 10px;
  margin: 20px 0 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.card-custom button {
  padding: 10px;
  background-color: #063b5f;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card-custom button:hover {
  background-color: #abc1eb;
}
label{
  margin-right: 9px;
}

/* Mensaje de éxito o error */
.card-custom p {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

/*Tabla dinamica*/
.resumen-container {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 559px;              /* Ahora más larga antes de scroll */
  overflow-y: auto;               /* Scroll vertical cuando se exceda */
}

.resumen-tabla {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
  table-layout: fixed;
}

.resumen-tabla th,
.resumen-tabla td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
}

.resumen-tabla th {
  background-color: #f0f0f0;
  font-weight: bold;
  font-size: 1.2rem;
}

.resumen-tabla th:nth-child(1),
.resumen-tabla td:nth-child(1) {
  width: 30%;
}

.resumen-tabla th:nth-child(2),
.resumen-tabla td:nth-child(2) {
  width: 30%;
}

.resumen-tabla th:nth-child(3),
.resumen-tabla td:nth-child(3) {
  width: 40%;
}

.resumen-tabla td[colspan="3"] {
  text-align: center;
  font-style: italic;
}

/* Mantener altura de la tabla incluso sin datos */
.resumen-tabla tbody {
  min-height: 395px;
  display: block;
}

/* Asegurar scroll funcione correctamente cuando haya muchas filas */
.resumen-tabla thead,
.resumen-tabla tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}