@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  margin: 0;
  font-family: 'Montserrarat';
  background-color:beige;
}

.main-content {
  margin-left: 200px; 
  padding: 40px;
  min-height: 90vh;
  background-color: white;
}

.main-content h1 {
  font-family: 'Nunito';
  font-size: 30px;
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: center;
}

.main-content h6 {
  font-family: 'Nunito';
  font-size: 17px;
  color: #2c3e50;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.main-content p {
  font-family: 'Montserrarat';
  font-size: 16px;
  color: #34495e;
  text-align: justify;
}

.cards-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 220px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.modal-comprar-btn:hover {
  background-color: #16a085;
}

.info-section {
  padding: 40px;
  margin-top: 40px;
  color: #2c3e50;
  max-width: 720px;
}

.info-section h2 {
  font-family: 'Nunito';
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;

}

.info-section p {
  font-family: 'Montserrarat';
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #34495e;
  text-align: justify;
}

@media (max-width: 480px) {
  .payment-form {
    padding: 1.5rem;
  }

  .btn-submit {
    width: 100%;
  }

  .buttons-container {
    justify-content: center;
  }
}
